/* DETAILS PAGE */

.details-page{

  padding:120px 40px;

  text-align:center;
}

.details-page h1{

  font-size:50px;

  margin-bottom:30px;

  color:darkgreen;
}

.details-page img{

  width:80%;

  max-width:700px;

  border-radius:20px;

  margin-bottom:30px;
}

.details-page p{

  font-size:22px;

  margin-bottom:30px;
}

.details-page ul{

  list-style:none;

  margin-bottom:30px;
}

.details-page li{

  margin:15px 0;

  font-size:20px;
}

.details-page a{

  text-decoration:none;

  background:darkgreen;

  color:white;

  padding:15px 30px;

  border-radius:10px;
}
